
*.sln

/*/*

!/WpfAppTreeView/MainWindow.xaml
!/WpfAppTreeView/MainWindow.xaml.cs
!/WpfAppTreeView/WpfAppTreeViewModel.cs
!/WpfAppTreeView/App.xaml
!/WpfAppTreeView/App.xaml.cs
!/WpfAppTreeView/Model.cs

